<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/" xmlns:set="http://www.sitecore.net/xmlconfig/set/" xmlns:role="http://www.sitecore.net/xmlconfig/role/">
  <sitecore role:require="Standalone or ContentDelivery">
    <contentSearch>
      <configuration>
        <indexes>
          <index id="sitecore_marketing_asset_index_web">
            <locations>
              <crawler>
                <patch:attribute name="type" value="Sitecore.Support.Marketing.Definitions.MarketingAssets.Data.ItemDb.MediaCrawler, Sitecore.Support.96333" />
              </crawler>
            </locations>
          </index>
        </indexes>
      </configuration>
    </contentSearch>
  </sitecore>
</configuration>